build/
build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*.o
*.a
*.so

*.bak
*.swp
.qtcreator/
.clangd
src/jpils/
*.user
/Debug
/Release
*.user.*
compile_commands.json
backup/
asan.supp
asan.log*

